* {
    font-family: Tahoma, sans-serif;
}
body {margin: 0;
          margin-left: auto;
    margin-right: auto;
}
h1, h2, h3{margin: 0;}

#logo{
    width: 60px;
    height: 60px;
}

.color-container:nth-of-type(1), .color-container:nth-of-type(2) {
    background-color: #ea272f;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
}

#navbar a{
    text-decoration: none;
    color: inherit;
}

#navbar-left a:not(:first-of-type){
    margin: 25px 20px 25px 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    font-weight: bold;
}

#logo{margin-left: 63px}

#navbar-right > a:last-of-type {
    margin-right: 75px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px 25px;
    border-radius: 45px;
    color: #ea272f;
    background-color: white;
}

#navbar-right > a:hover, #more-dropdown:hover .dropbtn {
    color: #fcbc34;
    transition: all 0.25s;
}

#more-dropdown:hover, .dropbtn:hover{cursor: pointer;}

#navbar-left, #navbar-right {
    display: flex;
    align-items: center;
}

#navbar-right > a{
    margin: 30px 20px 25px 20px;
}

#more-dropdown{
    margin-top: 10px;
    padding: 20px 20px 25px 20px;
}

#navbar-right > a, .dropbtn{
    text-transform: uppercase;
    font-weight: bold;
}

.dropbtn {
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: white;
    padding: 0;
}

.dropbtn i{margin-left: 10px;}

#more-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
}

#more-dropdown-content a {
    width: 100%;
    padding: 10px 0 10px 0;
}

#more-dropdown-content a:not(:first-of-type){
    border-top: 1px solid lightgray;
}

#more-dropdown:hover #more-dropdown-content{
    width: 150px;
    display: flex;
    flex-direction: column;
}

/**********HEADER***********/

#header {
    display: flex;
    color: #fff;
    margin: 0;
    height: 100vh;
    padding-top: 100px;
    column-gap: 30px;
    margin-left: 63px;
    margin-right: 70px;
    flex-wrap: wrap;
}

#header-left {
    display: flex;
    flex: 2;
    flex-direction: column;
}

#header-right {
    flex: 1;
}
#header-img{
    width: 455px;
}

#header-left p {
    line-height: 200%;
}
#header-menu-box {
    display: flex;
    background-color: #fcbc34;
    padding: 15px 10px;
    margin-top: 10px;
    justify-content: space-between;
    font-weight: bold;
}
#header-menu {
    display: flex;
    column-gap: 50px;
    font-size: 24px;
}

#header-menu-price {
    text-decoration: none;
    font-size: 52px;
    margin-top: 5px;
    margin-right: 30px;
}
#header-menu-price i{
    position: absolute;
    font-size: 62px;
    margin-left: 10px;
    background-color: #fcbc34;
    border-radius: 100%;
}

h1{
    font-size: 90px;
}

